## Problem Statement
The company wants to understand and process the data coming out of data engineering pipelines:
We need to clean, sanitize and remove outliers from the data to get useful features from raw information. To Make sense of the raw data and help the data science team build forecasting models, we also need to normalize or standardize the data before submitting it. We need to extract the data's month, day, year, and state to get more information from the table for further analysis.

### First EDA on raw data file

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

Raw data imported to the notebook as df

In [7]:
df = pd.read_csv(r"C:\Users\Lenovo\Downloads\d2beiqkhq929f0.cloudfront.net_public_assets_assets_000_001_551_original_delhivery_data.csv")

In [10]:
df.head()

,data,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,od_end_time,start_scan_to_end_scan,is_cutoff,cutoff_factor,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,9,2018-09-20 04:27:55,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727
1,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,18,2018-09-20 04:17:55,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111
2,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,27,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714
3,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,36,2018-09-20 03:39:57,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000
4,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,False,39,2018-09-20 03:33:55,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000

From the above output we can see that the table contain columns as followes 'data', 'trip_creation_time', 'route_schedule_uuid', 'route_type','trip_uuid', 'source_center', 'source_name', 'destination_center','destination_name', 'od_start_time', 'od_end_time','start_scan_to_end_scan', 'is_cutoff', 'cutoff_factor', 'cutoff_timestamp', 'actual_distance_to_destination', 'actual_time','osrm_time', 'osrm_distance', 'factor', 'segment_actual_time', 'segment_osrm_time', 'segment_osrm_distance', 'segment_factor'.

In [24]:
info = df.info(verbose=True)
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144867 entries, 0 to 144866
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   data                            144867 non-null  object
 1   trip_creation_time              144867 non-null  object
 2   route_schedule_uuid             144867 non-null  object
 3   route_type                      144867 non-null  object
 4   trip_uuid                       144867 non-null  object
 5   source_center                   144867 non-null  object
 6   source_name                     144574 non-null  object
 7   destination_center              144867 non-null  object
 8   destination_name                144606 non-null  object
 9   od_start_time                   144867 non-null  object
 10  od_end_time                     144867 non-null  object
 11  start_scan_to_end_scan          144867 non-null  float64
 12  is_cutoff                       144867 non-null  bool
 13  cutoff_factor                   144867 non-null  int64
 14  cutoff_timestamp                144867 non-null  object
 15  actual_distance_to_destination  144867 non-null  float64
 16  actual_time                     144867 non-null  float64
 17  osrm_time                       144867 non-null  float64
 18  osrm_distance                   144867 non-null  float64
 19  factor                          144867 non-null  float64
 20  segment_actual_time             144867 non-null  float64
 21  segment_osrm_time               144867 non-null  float64
 22  segment_osrm_distance           144867 non-null  float64
 23  segment_factor                  144867 non-null  float64
dtypes: bool(1), float64(10), int64(1), object(12)
memory usage: 25.6+ MB
None

The above output shows that the columns are off the type bool, float, int, and object. However, some columns represent dates but are classified as objects,  which are further corrected in the DateTime format.

In [28]:
df[["trip_creation_time","od_start_time"\
    ,"od_end_time","cutoff_timestamp"]] = df[["trip_creation_time","od_start_time",\
                                                "od_end_time","cutoff_timestamp"]].apply(pd.to_datetime)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144867 entries, 0 to 144866
Data columns (total 24 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   data                            144867 non-null  object
 1   trip_creation_time              144867 non-null  datetime64[ns]
 2   route_schedule_uuid             144867 non-null  object
 3   route_type                      144867 non-null  object
 4   trip_uuid                       144867 non-null  object
 5   source_center                   144867 non-null  object
 6   source_name                     144574 non-null  object
 7   destination_center              144867 non-null  object
 8   destination_name                144606 non-null  object
 9   od_start_time                   144867 non-null  datetime64[ns]
 10  od_end_time                     144867 non-null  datetime64[ns]
 11  start_scan_to_end_scan          144867 non-null  float64
 12  is_cutoff                       144867 non-null  bool
 13  cutoff_factor                   144867 non-null  int64
 14  cutoff_timestamp                144867 non-null  datetime64[ns]
 15  actual_distance_to_destination  144867 non-null  float64
 16  actual_time                     144867 non-null  float64
 17  osrm_time                       144867 non-null  float64
 18  osrm_distance                   144867 non-null  float64
 19  factor                          144867 non-null  float64
 20  segment_actual_time             144867 non-null  float64
 21  segment_osrm_time               144867 non-null  float64
 22  segment_osrm_distance           144867 non-null  float64
 23  segment_factor                  144867 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(10), int64(1), object(8)
memory usage: 25.6+ MB

In [30]:
df['trip_creation_year'] = df['trip_creation_time'].dt.year
df['trip_creation_month'] = df['trip_creation_time'].dt.month_name()
df['trip_creation_day'] = df['trip_creation_time'].dt.day

From the trip creation column the year, month, and day are extracted.

In [32]:
new = df["destination_name"].str.split("(",n=1,expand=True)
state = new[1].str.strip("()")
new_2 = df["source_name"].str.split("(",n=1,expand=True)
state_2 = new_2[1].str.strip("()")

In [33]:
df["Destination_state"] = state
df["source_state"] = state_2

From the source_name column, the source state is extracted, and from the destination_name columns, the destination name is extracted.

In [31]:
df.head()

,data,trip_creation_time,route_schedule_uuid,route_type,trip_uuid,source_center,source_name,destination_center,destination_name,od_start_time,od_end_time,start_scan_to_end_scan,is_cutoff,cutoff_factor,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor,trip_creation_year,trip_creation_month,trip_creation_day
0,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,9,2018-09-20 04:27:55.000000,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727,2018,September,20
1,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,18,2018-09-20 04:17:55.000000,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111,2018,September,20
2,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,27,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714,2018,September,20
3,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,True,36,2018-09-20 03:39:57.000000,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000,2018,September,20
4,training,2018-09-20 02:35:36.476840,thanos::sroute:eb7bfc78-b351-4c0e-a951-fa3d5c3...,Carting,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,False,39,2018-09-20 03:33:55.000000,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000,2018,September,20

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144867 entries, 0 to 144866
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   data                            144867 non-null  object
 1   trip_creation_time              144867 non-null  datetime64[ns]
 2   route_schedule_uuid             144867 non-null  object
 3   route_type                      144867 non-null  object
 4   trip_uuid                       144867 non-null  object
 5   source_center                   144867 non-null  object
 6   source_name                     144574 non-null  object
 7   destination_center              144867 non-null  object
 8   destination_name                144606 non-null  object
 9   od_start_time                   144867 non-null  datetime64[ns]
 10  od_end_time                     144867 non-null  datetime64[ns]
 11  start_scan_to_end_scan          144867 non-null  float64
 12  is_cutoff                       144867 non-null  bool
 13  cutoff_factor                   144867 non-null  int64
 14  cutoff_timestamp                144867 non-null  datetime64[ns]
 15  actual_distance_to_destination  144867 non-null  float64
 16  actual_time                     144867 non-null  float64
 17  osrm_time                       144867 non-null  float64
 18  osrm_distance                   144867 non-null  float64
 19  factor                          144867 non-null  float64
 20  segment_actual_time             144867 non-null  float64
 21  segment_osrm_time               144867 non-null  float64
 22  segment_osrm_distance           144867 non-null  float64
 23  segment_factor                  144867 non-null  float64
 24  trip_creation_year              144867 non-null  int64
 25  trip_creation_month             144867 non-null  object
 26  trip_creation_day               144867 non-null  int64
 27  Destination_state               144606 non-null  object
 28  source_state                    144574 non-null  object
dtypes: bool(1), datetime64[ns](4), float64(10), int64(3), object(11)
memory usage: 31.1+ MB

In [41]:
df["source_state"].unique()
# These are the states from which the products are shipped initially.

array(['Gujarat', 'Maharashtra', 'Karnataka', 'Punjab', 'Haryana',
       'Uttarakhand', 'Tamil Nadu', 'Rajasthan', nan, 'Telangana',
       'Madhya Pradesh', 'Uttar Pradesh', 'Himachal Pradesh', 'Kerala',
       'Andhra Pradesh', 'Bihar', 'Jharkhand', 'Assam', 'West Bengal',
       'Orissa', 'Delhi', 'Jammu & Kashmir', 'Chandigarh', 'Chhattisgarh',
       'Goa', 'Pondicherry', 'Dadra and Nagar Haveli',
       'Arunachal Pradesh', 'Nagaland', 'Meghalaya', 'Tripura', 'Mizoram'],
      dtype=object)

In [43]:
# These are the destination states.
df["Destination_state"].unique()

array(['Gujarat', 'Maharashtra', 'Karnataka', 'Kerala', 'Punjab',
       'Uttarakhand', 'Tamil Nadu', 'Haryana', 'Rajasthan', nan,
       'Telangana', 'Uttar Pradesh', 'Delhi', 'Himachal Pradesh',
       'Andhra Pradesh', 'Bihar', 'Jharkhand', 'Assam', 'Orissa',
       'West Bengal', 'Jammu & Kashmir', 'Madhya Pradesh', 'Chandigarh',
       'Chhattisgarh', 'Goa', 'Pondicherry', 'Arunachal Pradesh',
       'Dadra and Nagar Haveli', 'Meghalaya', 'Tripura', 'Mizoram',
       'Daman & Diu', 'Nagaland'], dtype=object)

In [54]:
# Trip creation month and day
years = df["trip_creation_year"].unique()
months = df["trip_creation_month"].unique()
print(f"The given trips are created in the following years {years}")
print(f"The given trips are created in the following months {months}")

The given trips are created in the following years [2018]
The given trips are created in the following months ['September' 'October']

In [56]:
# A column named calculated_start_scan_to_end_scan is created using the columns od_start_time and od_end_time
df["calculated_start_scan_to_end_scan"] = (df['od_end_time'] - df["od_start_time"])/pd.Timedelta(minutes=1)

In [58]:
df = df.loc[:,["data","route_type","trip_creation_time","trip_creation_year","trip_creation_month",\
          "trip_creation_day","trip_uuid","source_center","source_name","source_state",\
        "destination_center","destination_name","Destination_state",\
         "od_start_time","od_end_time","start_scan_to_end_scan","calculated_start_scan_to_end_scan",\
         "is_cutoff","cutoff_factor","cutoff_timestamp","actual_distance_to_destination","actual_time",\
         "osrm_time","osrm_distance","factor","segment_actual_time","segment_osrm_time",\
         "segment_osrm_distance","segment_factor"]]

In [59]:
df.head()

,data,route_type,trip_creation_time,trip_creation_year,trip_creation_month,trip_creation_day,trip_uuid,source_center,source_name,source_state,destination_center,destination_name,Destination_state,od_start_time,od_end_time,start_scan_to_end_scan,calculated_start_scan_to_end_scan,is_cutoff,cutoff_factor,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,9,2018-09-20 04:27:55.000000,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727
1,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,18,2018-09-20 04:17:55.000000,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111
2,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,27,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714
3,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,36,2018-09-20 03:39:57.000000,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000
4,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,False,39,2018-09-20 03:33:55.000000,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000

### Removing null values

In [60]:
(df.isna().sum()/len(df))*100

data                                 0.000000
route_type                           0.000000
trip_creation_time                   0.000000
trip_creation_year                   0.000000
trip_creation_month                  0.000000
trip_creation_day                    0.000000
trip_uuid                            0.000000
source_center                        0.000000
source_name                          0.202254
source_state                         0.202254
destination_center                   0.000000
destination_name                     0.180165
Destination_state                    0.180165
od_start_time                        0.000000
od_end_time                          0.000000
start_scan_to_end_scan               0.000000
calculated_start_scan_to_end_scan    0.000000
is_cutoff                            0.000000
cutoff_factor                        0.000000
cutoff_timestamp                     0.000000
actual_distance_to_destination       0.000000
actual_time                          0.000000
osrm_time                            0.000000
osrm_distance                        0.000000
factor                               0.000000
segment_actual_time                  0.000000
segment_osrm_time                    0.000000
segment_osrm_distance                0.000000
segment_factor                       0.000000
dtype: float64

Here we can we that the source center, destination center, source state, and destination state have null values, but all of them are less than 1%. We can drop these null values, but it may affect the aggregations done later, so we are filling in the null values. The null values are filled with Missing_source, missing destination, and missing state as follwes.

In [61]:
df["source_name"] = df["source_name"].fillna("Missing_source")
df["destination_name"] = df["destination_name"].fillna("Missing_destination")
df["Destination_state"] = df["Destination_state"].fillna("Missing state")
df["source_state"] = df["source_state"].fillna("Missing State")

In [62]:
(df.isna().sum()/len(df))*100

data                                 0.0
route_type                           0.0
trip_creation_time                   0.0
trip_creation_year                   0.0
trip_creation_month                  0.0
trip_creation_day                    0.0
trip_uuid                            0.0
source_center                        0.0
source_name                          0.0
source_state                         0.0
destination_center                   0.0
destination_name                     0.0
Destination_state                    0.0
od_start_time                        0.0
od_end_time                          0.0
start_scan_to_end_scan               0.0
calculated_start_scan_to_end_scan    0.0
is_cutoff                            0.0
cutoff_factor                        0.0
cutoff_timestamp                     0.0
actual_distance_to_destination       0.0
actual_time                          0.0
osrm_time                            0.0
osrm_distance                        0.0
factor                               0.0
segment_actual_time                  0.0
segment_osrm_time                    0.0
segment_osrm_distance                0.0
segment_factor                       0.0
dtype: float64

# Merging columns

In [63]:
df

,data,route_type,trip_creation_time,trip_creation_year,trip_creation_month,trip_creation_day,trip_uuid,source_center,source_name,source_state,destination_center,destination_name,Destination_state,od_start_time,od_end_time,start_scan_to_end_scan,calculated_start_scan_to_end_scan,is_cutoff,cutoff_factor,cutoff_timestamp,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,9,2018-09-20 04:27:55.000000,10.435660,14.0,11.0,11.9653,1.272727,14.0,11.0,11.9653,1.272727
1,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,18,2018-09-20 04:17:55.000000,18.936842,24.0,20.0,21.7243,1.200000,10.0,9.0,9.7590,1.111111
2,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,27,2018-09-20 04:01:19.505586,27.637279,40.0,28.0,32.5395,1.428571,16.0,7.0,10.8152,2.285714
3,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,True,36,2018-09-20 03:39:57.000000,36.118028,62.0,40.0,45.5620,1.550000,21.0,12.0,13.0224,1.750000
4,training,Carting,2018-09-20 02:35:36.476840,2018,September,20,trip-153741093647649320,IND388121AAA,Anand_VUNagar_DC (Gujarat),Gujarat,IND388620AAB,Khambhat_MotvdDPP_D (Gujarat),Gujarat,2018-09-20 03:21:32.418600,2018-09-20 04:47:45.236797,86.0,86.213637,False,39,2018-09-20 03:33:55.000000,39.386040,68.0,44.0,54.2181,1.545455,6.0,5.0,3.9153,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144862,training,Carting,2018-09-20 16:24:28.436231,2018,September,20,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),Haryana,IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),Haryana,2018-09-20 16:24:28.436231,2018-09-20 23:32:09.618069,427.0,427.686364,True,45,2018-09-20 21:57:20.000000,45.258278,94.0,60.0,67.9280,1.566667,12.0,12.0,8.1858,1.000000
144863,training,Carting,2018-09-20 16:24:28.436231,2018,September,20,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),Haryana,IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),Haryana,2018-09-20 16:24:28.436231,2018-09-20 23:32:09.618069,427.0,427.686364,True,54,2018-09-20 21:31:18.000000,54.092531,120.0,76.0,85.6829,1.578947,26.0,21.0,17.3725,1.238095
144864,training,Carting,2018-09-20 16:24:28.436231,2018,September,20,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),Haryana,IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),Haryana,2018-09-20 16:24:28.436231,2018-09-20 23:32:09.618069,427.0,427.686364,True,63,2018-09-20 21:11:18.000000,66.163591,140.0,88.0,97.0933,1.590909,20.0,34.0,20.7053,0.588235
144865,training,Carting,2018-09-20 16:24:28.436231,2018,September,20,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),Haryana,IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),Haryana,2018-09-20 16:24:28.436231,2018-09-20 23:32:09.618069,427.0,427.686364,True,72,2018-09-20 20:53:19.000000,73.680667,158.0,98.0,111.2709,1.612245,17.0,27.0,18.8885,0.629630
144866,training,Carting,2018-09-20 16:24:28.436231,2018,September,20,trip-153746066843555182,IND131028AAB,Sonipat_Kundli_H (Haryana),Haryana,IND000000ACB,Gurgaon_Bilaspur_HB (Haryana),Haryana,2018-09-20 16:24:28.436231,2018-09-20 23:32:09.618069,427.0,427.686364,False,70,2018-09-20 16:24:28.436231,70.039010,426.0,95.0,88.7319,4.484211,268.0,9.0,8.8088,29.777778

Since the delivery details of one package are divided into several rows, we need to aggregate the fields to make it one transport. Hence we needed to group the data based on Trip_uuid, Source ID and Destination ID and use aggregation in each column to combine multiple rows to get the final desired output. Some data is the cumulative sum of each transport, and others are just the final output value. Max () or last() is used for columns with the cumulative sum, and for the columns with segmented values, simple sum() is used. For categorical with repeated output mode() is used.

In [64]:
table_1 = df.groupby(["trip_uuid"]).aggregate({"data":pd.Series.mode,"route_type":pd.Series.mode\
                                               ,"is_cutoff":"last"}).reset_index()

In [65]:
table_2 = df.groupby(["trip_uuid","source_center","destination_center"]).aggregate({"source_state":pd.Series.mode,\
                                                                        "Destination_state":pd.Series.mode,\
                                                                        "trip_creation_time":"max",\
                                                                        "od_start_time":"max",\
                                                                        "od_end_time":"max",\
                                                                        "trip_creation_month":"max",\
                                                                        "trip_creation_year":"max",\
                                                                        "trip_creation_day":"max",\
                                                                        "cutoff_timestamp":"max",\
                                                                        "start_scan_to_end_scan":"max",\
                                                                        "calculated_start_scan_to_end_scan":"max",\
                                                                        "actual_distance_to_destination":"max",\
                                                                         "actual_time":"max",\
                                                                         "osrm_time":"max",\
                                                                         "osrm_distance":"max",\
                                                                        "cutoff_factor":"median",\
                                                                        "segment_actual_time":"sum",\
                                                                        "segment_osrm_time":"sum",\
                                                                         "segment_osrm_distance":"sum",\
                                                                         "segment_factor":"median"
                                                                        }).reset_index()

In [66]:
table_1

                     trip_uuid      data route_type  is_cutoff
0      trip-153671041653548748  training        FTL      False
1      trip-153671042288605164  training    Carting      False
2      trip-153671043369099517  training        FTL      False
3      trip-153671046011330457  training    Carting      False
4      trip-153671052974046625  training        FTL      False
...                        ...       ...        ...        ...
14812  trip-153861095625827784      test    Carting      False
14813  trip-153861104386292051      test    Carting      False
14814  trip-153861106442901555      test    Carting      False
14815  trip-153861115439069069      test    Carting      False
14816  trip-153861118270144424      test        FTL      False

[14817 rows x 4 columns]

In [67]:
table_2

,trip_uuid,source_center,destination_center,source_state,Destination_state,trip_creation_time,od_start_time,od_end_time,trip_creation_month,trip_creation_year,trip_creation_day,cutoff_timestamp,start_scan_to_end_scan,calculated_start_scan_to_end_scan,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,cutoff_factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,trip-153671041653548748,IND209304AAA,IND000000ACB,Uttar Pradesh,Haryana,2018-09-12 00:00:16.535741,2018-09-12 16:39:46.858469,2018-09-13 13:40:23.123744,September,2018,12,2018-09-13 12:40:43,1260.0,1260.604421,383.759164,732.0,349.0,446.5496,209.0,728.0,534.0,670.6205,1.492870
1,trip-153671041653548748,IND462022AAA,IND209304AAA,Madhya Pradesh,Uttar Pradesh,2018-09-12 00:00:16.535741,2018-09-12 00:00:16.535741,2018-09-12 16:39:46.858469,September,2018,12,2018-09-12 14:56:29,999.0,999.505379,440.973689,830.0,394.0,544.8027,242.0,820.0,474.0,649.8528,1.666667
2,trip-153671042288605164,IND561203AAB,IND562101AAA,Karnataka,Karnataka,2018-09-12 00:00:22.886430,2018-09-12 02:03:09.655591,2018-09-12 03:01:59.598855,September,2018,12,2018-09-12 02:41:24,58.0,58.832388,24.644021,47.0,26.0,28.1994,18.0,46.0,26.0,28.1995,1.800000
3,trip-153671042288605164,IND572101AAA,IND561203AAB,Karnataka,Karnataka,2018-09-12 00:00:22.886430,2018-09-12 00:00:22.886430,2018-09-12 02:03:09.655591,September,2018,12,2018-09-12 01:39:28,122.0,122.779486,48.542890,96.0,42.0,56.9116,31.5,95.0,39.0,55.9899,2.250000
4,trip-153671043369099517,IND000000ACB,IND160002AAC,Haryana,Punjab,2018-09-12 00:00:33.691250,2018-09-14 03:40:17.106733,2018-09-14 17:34:55.442454,September,2018,12,2018-09-14 16:54:36,834.0,834.638929,242.309306,611.0,212.0,281.2109,143.0,608.0,231.0,317.7408,1.550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26363,trip-153861115439069069,IND628204AAA,IND627657AAA,Tamil Nadu,Tamil Nadu,2018-10-03 23:59:14.390954,2018-10-04 02:29:04.272194,2018-10-04 03:31:11.183797,October,2018,3,2018-10-04 03:17:33,62.0,62.115193,33.627182,51.0,41.0,42.5213,22.5,49.0,42.0,42.1431,1.187500
26364,trip-153861115439069069,IND628613AAA,IND627005AAA,Tamil Nadu,Tamil Nadu,2018-10-03 23:59:14.390954,2018-10-04 04:16:39.894872,2018-10-04 05:47:45.162682,October,2018,3,2018-10-04 05:32:33,91.0,91.087797,33.673835,90.0,48.0,40.6080,22.5,89.0,77.0,78.5869,1.243590
26365,trip-153861115439069069,IND628801AAA,IND628204AAA,Tamil Nadu,Tamil Nadu,2018-10-03 23:59:14.390954,2018-10-04 01:44:53.808000,2018-10-04 02:29:04.272194,October,2018,3,2018-10-04 02:05:30,44.0,44.174403,12.661945,30.0,14.0,16.0185,10.5,29.0,14.0,16.0184,1.979167
26366,trip-153861118270144424,IND583119AAA,IND583101AAA,Karnataka,Karnataka,2018-10-03 23:59:42.701692,2018-10-04 03:58:40.726547,2018-10-04 08:46:09.166940,October,2018,3,2018-10-04 07:29:32,287.0,287.474007,40.546740,233.0,42.0,52.5303,31.0,233.0,42.0,52.5303,5.083529
26367,trip-153861118270144424,IND583201AAA,IND583119AAA,Karnataka,Karnataka,2018-10-03 23:59:42.701692,2018-10-04 02:51:44.712656,2018-10-04 03:58:40.726547,October,2018,3,2018-10-04 03:20:29,66.0,66.933565,25.534793,42.0,26.0,28.0484,23.5,41.0,25.0,28.0484,2.089286

In [68]:
table_1.to_csv("table_case_route.csv")

From the row and aggregated data, we can see that our product transferred from point A to point B. But in between their source (A) and destination (B), there are checkpoints. We must remove these checkpoints to get the actual source and the destination. Hence, we only need the first source and last destination centers for the whole picture.
The following procedure is done to obtain the desired output.
A temporary table named sample is created to obtain the corresponding states of the source and destination. it contain columns named as "trip_uuid","source_center","destination_center","source_state", and "Destination_state"

In [76]:
sample = table_2[["trip_uuid","source_center","destination_center","source_state","Destination_state"]]
sample

,trip_uuid,source_center,destination_center,source_state,Destination_state
0,trip-153671041653548748,IND209304AAA,IND000000ACB,Uttar Pradesh,Haryana
1,trip-153671041653548748,IND462022AAA,IND209304AAA,Madhya Pradesh,Uttar Pradesh
2,trip-153671042288605164,IND561203AAB,IND562101AAA,Karnataka,Karnataka
3,trip-153671042288605164,IND572101AAA,IND561203AAB,Karnataka,Karnataka
4,trip-153671043369099517,IND000000ACB,IND160002AAC,Haryana,Punjab
...,...,...,...,...,...
26363,trip-153861115439069069,IND628204AAA,IND627657AAA,Tamil Nadu,Tamil Nadu
26364,trip-153861115439069069,IND628613AAA,IND627005AAA,Tamil Nadu,Tamil Nadu
26365,trip-153861115439069069,IND628801AAA,IND628204AAA,Tamil Nadu,Tamil Nadu
26366,trip-153861118270144424,IND583119AAA,IND583101AAA,Karnataka,Karnataka
26367,trip-153861118270144424,IND583201AAA,IND583119AAA,Karnataka,Karnataka

Again grouping is used to aggregate based on the source id and mode used to obtain the corresponding state in which the source center is located. The same is done for the destination column.

In [77]:
source_state_center = sample.groupby(["source_center"]).agg({"source_state":pd.Series.mode}).reset_index()
source_state_center

     source_center source_state
0     IND000000AAL  Maharashtra
1     IND000000AAQ  West Bengal
2     IND000000AAS        Assam
3     IND000000AAZ  Maharashtra
4     IND000000ABA       Kerala
...            ...          ...
1503  IND854105AAB        Bihar
1504  IND854311AAA        Bihar
1505  IND854326AAB        Bihar
1506  IND854334AAA        Bihar
1507  IND854335AAA        Bihar

[1508 rows x 2 columns]

In [78]:
destination_state_center = sample.groupby(["destination_center"]).agg({"Destination_state":pd.Series.mode}).reset_index()
destination_state_center

     destination_center Destination_state
0          IND000000AAL       Maharashtra
1          IND000000AAS             Assam
2          IND000000AAZ       Maharashtra
3          IND000000ABA            Kerala
4          IND000000ABD            Kerala
...                 ...               ...
1476       IND854105AAB             Bihar
1477       IND854311AAA             Bihar
1478       IND854326AAB             Bihar
1479       IND854334AAA             Bihar
1480       IND854335AAA             Bihar

[1481 rows x 2 columns]

The below table is a query output that was portioned with respect to trip_uuid and ordered based on the cutoff time and then numbered each partition. Here we have used the table_2 as the base table to obtain the query result.

In [80]:
df_1 = pd.read_csv("bquxjob_482c0d9a_189e8d2dbab.csv")
df_1

                     trip_uuid  Line_Id source_center destination_center
0      trip-153671041653548748        1  IND462022AAA       IND209304AAA
1      trip-153671041653548748        2  IND209304AAA       IND000000ACB
2      trip-153671042288605164        1  IND572101AAA       IND561203AAB
3      trip-153671042288605164        2  IND561203AAB       IND562101AAA
4      trip-153671043369099517        1  IND562132AAA       IND000000ACB
...                        ...      ...           ...                ...
26363  trip-153861115439069069        3  IND628204AAA       IND627657AAA
26364  trip-153861115439069069        4  IND627657AAA       IND628613AAA
26365  trip-153861115439069069        5  IND628613AAA       IND627005AAA
26366  trip-153861118270144424        1  IND583201AAA       IND583119AAA
26367  trip-153861118270144424        2  IND583119AAA       IND583101AAA

[26368 rows x 4 columns]

df_1 is pivoted with respect to trip_uuid and line_id and the result as followes.

In [82]:
df_2 = df_1.pivot(index=["trip_uuid"],columns=["Line_Id"])
df_2

                        source_center                              \
Line_Id                             1             2             3
trip_uuid
trip-153671041653548748  IND462022AAA  IND209304AAA           NaN
trip-153671042288605164  IND572101AAA  IND561203AAB           NaN
trip-153671043369099517  IND562132AAA  IND000000ACB           NaN
trip-153671046011330457  IND400072AAB           NaN           NaN
trip-153671052974046625  IND583101AAA  IND583201AAA  IND583119AAA
...                               ...           ...           ...
trip-153861095625827784  IND160002AAC  IND160102AAD           NaN
trip-153861104386292051  IND121004AAB           NaN           NaN
trip-153861106442901555  IND209304AAA  IND208006AAA           NaN
trip-153861115439069069  IND627005AAA  IND628801AAA  IND628204AAA
trip-153861118270144424  IND583201AAA  IND583119AAA           NaN

                                                                    \
Line_Id                             4             5    6    7    8
trip_uuid
trip-153671041653548748           NaN           NaN  NaN  NaN  NaN
trip-153671042288605164           NaN           NaN  NaN  NaN  NaN
trip-153671043369099517           NaN           NaN  NaN  NaN  NaN
trip-153671046011330457           NaN           NaN  NaN  NaN  NaN
trip-153671052974046625           NaN           NaN  NaN  NaN  NaN
...                               ...           ...  ...  ...  ...
trip-153861095625827784           NaN           NaN  NaN  NaN  NaN
trip-153861104386292051           NaN           NaN  NaN  NaN  NaN
trip-153861106442901555           NaN           NaN  NaN  NaN  NaN
trip-153861115439069069  IND627657AAA  IND628613AAA  NaN  NaN  NaN
trip-153861118270144424           NaN           NaN  NaN  NaN  NaN

                        destination_center                              \
Line_Id                                  1             2             3
trip_uuid
trip-153671041653548748       IND209304AAA  IND000000ACB           NaN
trip-153671042288605164       IND561203AAB  IND562101AAA           NaN
trip-153671043369099517       IND000000ACB  IND160002AAC           NaN
trip-153671046011330457       IND401104AAA           NaN           NaN
trip-153671052974046625       IND583201AAA  IND583119AAA  IND583101AAA
...                                    ...           ...           ...
trip-153861095625827784       IND140603AAA  IND160002AAC           NaN
trip-153861104386292051       IND121004AAA           NaN           NaN
trip-153861106442901555       IND208006AAA  IND209304AAA           NaN
trip-153861115439069069       IND628801AAA  IND628204AAA  IND627657AAA
trip-153861118270144424       IND583119AAA  IND583101AAA           NaN


Line_Id                             4             5    6    7    8
trip_uuid
trip-153671041653548748           NaN           NaN  NaN  NaN  NaN
trip-153671042288605164           NaN           NaN  NaN  NaN  NaN
trip-153671043369099517           NaN           NaN  NaN  NaN  NaN
trip-153671046011330457           NaN           NaN  NaN  NaN  NaN
trip-153671052974046625           NaN           NaN  NaN  NaN  NaN
...                               ...           ...  ...  ...  ...
trip-153861095625827784           NaN           NaN  NaN  NaN  NaN
trip-153861104386292051           NaN           NaN  NaN  NaN  NaN
trip-153861106442901555           NaN           NaN  NaN  NaN  NaN
trip-153861115439069069  IND628613AAA  IND627005AAA  NaN  NaN  NaN
trip-153861118270144424           NaN           NaN  NaN  NaN  NaN

[14817 rows x 16 columns]

The obtained table is stacked for source and destination columns, grouped wrt to trip id, and used the last() aggregation on the destination column to get the final destination and first() aggregation on the source column to obtain the source.

In [96]:

destination = df_2["destination_center"].stack().groupby(level=0).last().reset_index()
destination.rename({0:"destination_center"},axis=1,inplace=True)
destination

                     trip_uuid destination_center
0      trip-153671041653548748       IND000000ACB
1      trip-153671042288605164       IND562101AAA
2      trip-153671043369099517       IND160002AAC
3      trip-153671046011330457       IND401104AAA
4      trip-153671052974046625       IND583101AAA
...                        ...                ...
14812  trip-153861095625827784       IND160002AAC
14813  trip-153861104386292051       IND121004AAA
14814  trip-153861106442901555       IND209304AAA
14815  trip-153861115439069069       IND627005AAA
14816  trip-153861118270144424       IND583101AAA

[14817 rows x 2 columns]

In [100]:
source = df_2["source_center"].stack().groupby(level=0).first().reset_index()
source.rename({0:"source_center"},axis=1,inplace=True)
source

                     trip_uuid source_center
0      trip-153671041653548748  IND462022AAA
1      trip-153671042288605164  IND572101AAA
2      trip-153671043369099517  IND562132AAA
3      trip-153671046011330457  IND400072AAB
4      trip-153671052974046625  IND583101AAA
...                        ...           ...
14812  trip-153861095625827784  IND160002AAC
14813  trip-153861104386292051  IND121004AAB
14814  trip-153861106442901555  IND209304AAA
14815  trip-153861115439069069  IND627005AAA
14816  trip-153861118270144424  IND583201AAA

[14817 rows x 2 columns]

the source and destination table is merged to obtain the desired output

In [103]:
source_to_destination = source.merge(destination,how="left",on="trip_uuid")
source_to_destination

                     trip_uuid source_center destination_center
0      trip-153671041653548748  IND462022AAA       IND000000ACB
1      trip-153671042288605164  IND572101AAA       IND562101AAA
2      trip-153671043369099517  IND562132AAA       IND160002AAC
3      trip-153671046011330457  IND400072AAB       IND401104AAA
4      trip-153671052974046625  IND583101AAA       IND583101AAA
...                        ...           ...                ...
14812  trip-153861095625827784  IND160002AAC       IND160002AAC
14813  trip-153861104386292051  IND121004AAB       IND121004AAA
14814  trip-153861106442901555  IND209304AAA       IND209304AAA
14815  trip-153861115439069069  IND627005AAA       IND627005AAA
14816  trip-153861118270144424  IND583201AAA       IND583101AAA

[14817 rows x 3 columns]

In [105]:
source_to_destination = source_to_destination.merge(source_state_center,on="source_center",how="inner")

In [108]:
source_to_destination  = source_to_destination.merge(destination_state_center,on="destination_center",how="inner")

In [114]:
source_to_destination = source_to_destination[['trip_uuid', 'source_center', 'source_state','destination_center',
       'Destination_state']]

In [120]:
without_return = source_to_destination[~(source_to_destination["source_center"] == source_to_destination["destination_center"])]

In [121]:
without_return

,trip_uuid,source_center,source_state,destination_center,Destination_state
0,trip-153671041653548748,IND462022AAA,Madhya Pradesh,IND000000ACB,Haryana
1,trip-153688636480084238,IND462022AAA,Madhya Pradesh,IND000000ACB,Haryana
2,trip-153697146373863851,IND462022AAA,Madhya Pradesh,IND000000ACB,Haryana
3,trip-153705589682687518,IND462022AAA,Madhya Pradesh,IND000000ACB,Haryana
4,trip-153714072993346970,IND462022AAA,Madhya Pradesh,IND000000ACB,Haryana
...,...,...,...,...,...
14811,trip-153841966322712795,IND767001AAA,Orissa,IND767017AAA,Orissa
14812,trip-153843290263405190,IND491001AAA,Chhattisgarh,IND494334AAB,Chhattisgarh
14813,trip-153846807592329696,IND411033AAB,Maharashtra,IND411057AAF,Maharashtra
14815,trip-153860714952888676,IND333042AAA,Rajasthan,IND331304AAA,Rajasthan
14816,trip-153859592654771797,IND493445AAB,Chhattisgarh,IND490023AAA,Chhattisgarh

In [122]:
final = table_2.groupby("trip_uuid").aggregate({"trip_creation_month":pd.Series.mode,\
                                                "trip_creation_year":pd.Series.mode,\
                                        "trip_creation_day":pd.Series.mode,\
                                        "start_scan_to_end_scan":"sum",\
                                         "calculated_start_scan_to_end_scan":"sum",\
                                         "actual_distance_to_destination":"sum",\
                                         "actual_time":"sum","osrm_time":"sum",\
                                         "osrm_distance":"sum","cutoff_factor":"mean",\
                                         "segment_actual_time":"sum","segment_osrm_time":"sum",
                                         "segment_osrm_distance":"sum","segment_factor":"mean"}).reset_index()

In [123]:
final

,trip_uuid,trip_creation_month,trip_creation_year,trip_creation_day,start_scan_to_end_scan,calculated_start_scan_to_end_scan,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,cutoff_factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
0,trip-153671041653548748,September,2018,12,2259.0,2260.109800,824.732854,1562.0,743.0,991.3523,225.500000,1548.0,1008.0,1320.4733,1.579768
1,trip-153671042288605164,September,2018,12,180.0,181.611874,73.186911,143.0,68.0,85.1110,24.750000,141.0,65.0,84.1894,2.025000
2,trip-153671043369099517,September,2018,12,3933.0,3934.362520,1932.273969,3347.0,1741.0,2372.0852,500.500000,3308.0,1941.0,2545.2678,1.541667
3,trip-153671046011330457,September,2018,12,100.0,100.494935,17.175274,59.0,15.0,19.6800,13.000000,59.0,16.0,19.8766,3.849206
4,trip-153671052974046625,September,2018,12,717.0,718.349042,127.448500,341.0,117.0,146.7918,33.166667,340.0,115.0,146.7919,3.173474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14812,trip-153861095625827784,October,2018,3,257.0,258.028928,57.762332,83.0,62.0,73.4630,20.250000,82.0,62.0,64.8551,1.264286
14813,trip-153861104386292051,October,2018,3,60.0,60.590521,15.513784,21.0,12.0,16.0882,12.000000,21.0,11.0,16.0883,1.982143
14814,trip-153861106442901555,October,2018,3,421.0,422.119867,38.684839,282.0,54.0,63.2841,18.000000,281.0,88.0,104.8866,2.002646
14815,trip-153861115439069069,October,2018,3,347.0,348.512862,134.723836,264.0,184.0,177.6635,19.100000,258.0,221.0,223.5324,1.301496
14816,trip-153861118270144424,October,2018,3,353.0,354.407571,66.081533,275.0,68.0,80.5787,27.250000,274.0,67.0,80.5787,3.586408

In [124]:
table_corrected = without_return.merge(final,on="trip_uuid",how="left")

In [127]:
table_corrected.tail(10)

,trip_uuid,source_center,source_state,destination_center,Destination_state,trip_creation_month,trip_creation_year,trip_creation_day,start_scan_to_end_scan,calculated_start_scan_to_end_scan,actual_distance_to_destination,actual_time,osrm_time,osrm_distance,cutoff_factor,segment_actual_time,segment_osrm_time,segment_osrm_distance,segment_factor
11838,trip-153817631572544906,IND811201AAB,Bihar,IND813213AAA,Bihar,September,2018,28,154.0,154.923375,28.696094,98.0,26.0,36.6569,25.000000,98.0,52.0,71.2694,1.884615
11839,trip-153843730942915459,IND811201AAB,Bihar,IND813213AAA,Bihar,October,2018,1,202.0,203.359894,50.484331,104.0,55.0,73.6661,23.000000,104.0,54.0,73.6661,1.929392
11840,trip-153825936901897990,IND811307AAA,Bihar,IND813213AAA,Bihar,September,2018,29,358.0,359.647546,97.172671,253.0,84.0,117.3990,26.833333,253.0,109.0,152.3884,2.445890
11841,trip-153860631387256522,IND811307AAA,Bihar,IND813213AAA,Bihar,October,2018,3,328.0,329.600424,106.687226,216.0,112.0,153.2981,30.000000,214.0,112.0,153.2981,1.820437
11842,trip-153818237038871101,IND140901AAA,Chandigarh,IND160055AAA,Chandigarh,September,2018,29,48.0,48.479179,10.991515,22.0,13.0,13.0254,9.500000,22.0,13.0,13.0254,1.818182
11843,trip-153841966322712795,IND767001AAA,Orissa,IND767017AAA,Orissa,October,2018,1,89.0,89.903071,45.799225,60.0,35.0,49.2466,44.000000,59.0,35.0,49.1983,1.470588
11844,trip-153843290263405190,IND491001AAA,Chhattisgarh,IND494334AAB,Chhattisgarh,October,2018,1,173.0,173.184736,101.941000,154.0,107.0,135.0738,66.000000,152.0,115.0,132.5638,1.240000
11845,trip-153846807592329696,IND411033AAB,Maharashtra,IND411057AAF,Maharashtra,October,2018,2,158.0,158.689119,10.652156,79.0,15.0,13.4217,9.500000,78.0,18.0,20.3805,4.298701
11846,trip-153860714952888676,IND333042AAA,Rajasthan,IND331304AAA,Rajasthan,October,2018,3,207.0,207.251425,93.416709,138.0,103.0,116.9957,35.000000,137.0,111.0,113.7217,1.171825
11847,trip-153859592654771797,IND493445AAB,Chhattisgarh,IND490023AAA,Chhattisgarh,October,2018,3,902.0,902.835309,77.035515,879.0,61.0,86.4380,77.000000,879.0,61.0,86.4380,14.409836

In [128]:
table_corrected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11848 entries, 0 to 11847
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   trip_uuid                          11848 non-null  object
 1   source_center                      11848 non-null  object
 2   source_state                       11848 non-null  object
 3   destination_center                 11848 non-null  object
 4   Destination_state                  11848 non-null  object
 5   trip_creation_month                11848 non-null  object
 6   trip_creation_year                 11848 non-null  int64
 7   trip_creation_day                  11848 non-null  int64
 8   start_scan_to_end_scan             11848 non-null  float64
 9   calculated_start_scan_to_end_scan  11848 non-null  float64
 10  actual_distance_to_destination     11848 non-null  float64
 11  actual_time                        11848 non-null  float64
 12  osrm_time                          11848 non-null  float64
 13  osrm_distance                      11848 non-null  float64
 14  cutoff_factor                      11848 non-null  float64
 15  segment_actual_time                11848 non-null  float64
 16  segment_osrm_time                  11848 non-null  float64
 17  segment_osrm_distance              11848 non-null  float64
 18  segment_factor                     11848 non-null  float64
dtypes: float64(11), int64(2), object(6)
memory usage: 1.8+ MB